<div class="game-board">
  <div class="chooseSongContainer">
    <% @games.each do |game| %>
      <%= link_to game_path(game.id) do %>
        <div class="level <%= game.level.downcase %>">
          <%= game.title %><br>
          by <%= game.artist %><br>
          Level: <%= game.level %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
