<!DOCTYPE html>
<html>
  <head>
    <title>KeyDanceRevolution</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon" rel="stylesheet">
  </head>

  <body>
    <%= link_to raw('<i class="fa fa-3x fa-home" aria-hidden="true"></i>'), root_path, class: 'home links' %>
    <% flash.each do |type, message| %>
      <p class='flash-msg'><%= message %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
