<!DOCTYPE html>
<html>
  <head>
    <title>KeyDanceRevolution</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon" rel="stylesheet">
  </head>

  <body>
    <%= link_to raw('<i class="fa fa-3x fa-home" aria-hidden="true"></i>'), root_path, class: 'home links' %>
    <% flash.each do |type, message| %>
      <p class='flash-msg'><%= message %></p>
    <% end %>
    <div class='score-board'>
      <p class='score'></p>
      <div class="login-signup">
        <% if current_user %>
        Welcome <%= current_user.first_name %><br>
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        <%= link_to 'Log Out', logout_path, class: 'links' %>
        <% else %>
        Hi there.<br>
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        <%= link_to 'Log In', login_path, class: 'links' %><br>
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        <%= link_to 'Sign Up', signup_path, class: 'links' %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
